<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:tiles="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title th:text="#{inscription.titleCloseList}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" th:href="@{/resources/images/favicon.ico}" />
<!-- CSS -->
<link rel="stylesheet" th:href="@{/resources/css/dataTables.css}"/>
<link rel="stylesheet" th:href="@{/resources/css/bootstrap.css}" />
<link rel="stylesheet" th:href="@{/resources/css/core.css}" />
<link rel="stylesheet" href="//cdn.datatables.net/plug-ins/1.10.6/integration/bootstrap/3/dataTables.bootstrap.css"/>
<!-- SCRIPT -->
<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<script th:src="@{/resources/js/bootstrap.min.js}"></script>
<script src="//cdn.datatables.net/1.10.6/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/plug-ins/1.10.6/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
<script th:src="@{/resources/js/chargeTable.js}"></script>
</head>
<body>

	<!-- Generic Header -->
	<div th:replace="fragments/header :: header(active='training')">&nbsp;</div>

	<!-- Button Back to Training Close List -->
	<div class="text-center">
		<a class="btn btn-info btn-lg" th:href="@{trainingCloseList}"
			th:text="#{back}">Back</a>
	</div>

	<!-- Verify if exits Inscriptions -->
	<div class="container" th:unless="${#lists.isEmpty(inscriptions)}">

		<!-- Tittle -->
		<h2 class="text-center"
			th:text="#{inscription.inscriptionList} + ${training.name}">
			List of Training Types</h2>

		<!-- Message Info -->
		<div class="container text-center ">
			<!-- /* Handle the flash message */-->
			<th:block th:if="${message != null}">
				<!-- /* The message code is returned from the @Controller */ -->
				<div
					th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, 
						message=#{${message.message}(${message.args[0]})})">&nbsp;</div>
			</th:block>
		</div>

		<!-- Table List of Inscriptions -->
		<table class="display" id="customTable">
			<thead>
				<tr>
					<th th:text="#{name}">Name</th>
					<th th:text="#{inscription.attend}">Attend</th>
					<th th:text="#{inscription.note}">Note</th>
					<th th:text="#{inscription.pass}">Pass</th>
					<th th:text="#{inscription.unsubscribe}">Baja</th>
				</tr>
			</thead>
			<tbody >

				<tr th:each="inscription, stat : *{inscriptions}">

					<td th:text="${inscription.account.name}">name</td>

					<td><input type="checkbox" onClick="return false"
						th:value="${inscription.attend}"
						th:checked="${inscription.attend}"
						th:title="#{inscription.infoAttend}" /></td>

					<td><textarea class="form-control" disabled="disabled"
							readonly="readonly" id="note"
							th:text="${inscription.note}" rows="3"
							cols="40"> Note </textarea></td>

					<td><input type="checkbox" onClick="return false"
						th:checked="${inscription.pass}"
						th:title="#{inscription.infoPass}" /></td>

					<td><input type="checkbox" onClick="return false"
						th:checked="${inscription.unsubscribe}"
						th:title="#{inscription.infoUnsubscribe}" /></td>

				</tr>
			</tbody>
		</table>
	</div>

	<!-- Show message, if inscription list is empty -->
	<div th:unless="!${#lists.isEmpty(inscriptions)}">
		<h2 class="text-center"
			th:text="#{inscription.inscriptionListEmpty} + ${training.name}">
			List of Training Types</h2>
	</div>

</body>
</html>