<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<link rel="shortcut icon" th:href="@{/resources/images/favicon.ico}" />
<title th:text="#{trainingCloseList.title}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<link href="../../../resources/css/core.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/core.css}" />
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="../../../resources/js/bootstrap.min.js"
	th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>

	<!-- Generic Header -->
	<div th:replace="fragments/header :: header(active='training')">&nbsp;</div>

	<!-- Button redirect to Training List Close-->
	<div class="text-center">
		<a class="btn btn-info btn-lg" th:href="@{/trainingList}"
			th:text="#{training.viewTrainingOpen}">View Training Close</a>
	</div>

	<fieldset>

		<!-- Verify if exits close trainings -->
		<div th:unless="${#lists.isEmpty(closeTrainings)}">

			<!-- Tittle -->
			<h2 class="text-center" th:text="#{training.trainingCloseList}">List
				of Trainings</h2>


			<!-- Table List of Trainings -->
			<table class="table table-striped table-hover form-narrow ">
				<thead>
					<tr>
						<th th:text="#{name}">Name</th>
						<th th:text="#{training.dateLimit}">Date Limit</th>
						<th th:text="#{training.dateTraining}">Date Training</th>
						<th th:text="#{training.countPlaces}">Place</th>
						<th th:text="#{training.maxPlaces}">Place</th>
						<th th:text="#{close}">Close</th>
					</tr>
				</thead>
				<tbody>

					<tr th:each="training : ${closeTrainings}">
						<td th:text="${training.name}">name</td>
						<td th:text="${{training.dateLimit}}">13/01/2015</td>
						<td th:text="${{training.dateTraining}}">15/01/2015</td>
						<td th:text="${training.countPlaces}">countPlaces</td>
						<td th:text="${training.maxPlaces}">maxPlaces</td>
						<td class="text-center"><input type="checkbox"
							th:checked="${training.close}" onClick="return false" /></td>

						<!-- View info of training -->
						<td class="text-center">
							<form th:action="@{'trainingView/'+${training.id}}" method="post">
								<button class="btn btn-link glyphicon glyphicon-search"
									th:title="#{info}" style="color: blue"></button>
							</form>
						</td>
						
						<!-- View Close Inscriptions -->
						<td class="text-center">
							<form
								th:action="@{'inscriptionCloseList/'+${training.id}}"
								method="post">
								<button class="btn btn-link glyphicon glyphicon-user"
									th:title="#{training.infoInscriptions}" style="color: green"></button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

	</fieldset>
</body>
</html>