body {
	padding-top: 0px;
	/* 60px to make the container go all the way to the bottom of the topbar */
	padding-bottom: 40px;
	background-color: #f5f5f5;
}

.form-narrow {
	max-width: 550px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

/* columns edit*/
@media ( min-width : 1200px) {
	.col-lg-1-edit, .col-lg-2-edit, .col-lg-3-edit, .col-lg-10-edit {
		float: left;
	}
	.col-lg-1-edit, .col-lg-2-edit {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
	}
	.col-lg-2-edit {
		top: -5px;
		left: -3px;
		width: 16.66666667%;
	}
	.col-lg-3-edit {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		width: 25%;
	}
	.col-lg-10-edit {
		position: relative;
		min-height: 1px;
		width: 83.33333333%;
	}

	/* form label */
	.col-lg-2 {
		padding-right: 10%;
	}

	/* form label by label retry password*/
	.col-lg-1 {
		top: -10px;
		margin-right: 43px;
	}

	/* if form-control have a field readonly*/
	.form-control[readonly] {
		cursor: default;
		background-color: #FFFFFF;
	}
}


/* Botón metido en las tablas*/
.btnTable {
  display: inline-block;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

/* Botón bloqueado metido en las tablas*/
.btnTableLocked {
  display: inline-block;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: not-allowed;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
/*****************************************************************************/



/****************************** navbar ***************************************/
.navbar-inverse {
	background-color: #82CAFA /*azul*/
}

.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>li>a:hover,
	.navbar-inverse .navbar-nav>li>a:focus {
	background-color: #000000 /*negro*/
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.open>a,
	.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,
	.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,
	.navbar-inverse .navbar-nav>.open>a:focus {
	background-color: #FFD801 /*naranja*/
}

.dropdown-menu {
	background-color: #FFFFFF
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
	background-color: #428BCA
}

.navbar-inverse {
	background-image: none;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
	background-image: none;
}

.navbar-inverse {
	border-color: #080808
}

.navbar-inverse .navbar-brand {
	color: #999999
}

.navbar-inverse .navbar-brand:hover {
	color: #FFFFFF
}

.navbar-inverse .navbar-nav>li>a {
	color: #000000 /*negro*/
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
	color: #FFFFFF
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.open>a,
	.navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus
	{
	color: #000000 /*negro*/
}

.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus
	{
	color: #FFFFFF
}

.dropdown-menu>li>a {
	color: #333333
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
	color: #FFFFFF
}

.navbar-inverse .navbar-nav>.dropdown>a .caret {
	border-top-color: #999999
}

.navbar-inverse .navbar-nav>.dropdown>a:hover .caret {
	border-top-color: #FFFFFF
}

.navbar-inverse .navbar-nav>.dropdown>a .caret {
	border-bottom-color: #999999
}

.navbar-inverse .navbar-nav>.dropdown>a:hover .caret {
	border-bottom-color: #FFFFFF
}
/****************************** navbar ***************************************/




/****************************** logo ***************************************/
/* Imagen adaptable a mobil*/
@media ( max-width : 768px) {
	.containerImage {
		zoom: 50%;
	}
}

/* Imagen adaptable a media pantalla*/
@media (min-width: 768px) and (max-width: 1200px) {
	.containerImage {
		zoom: 75%;
	}
}
/****************************** logo ***************************************/




/****************************** columns ***************************************/
/* Pantalla grande */
@media ( min-width : 768px) {
	.containerColums {
	}
	.columLeft {
    float: right;
    left: -51%;
    position: relative;
	}
	.columRight {
    float: left;
    left: 51%;
    position: relative;
	}
}

/* Versión mobil*/
@media ( max-width : 767px) {
	
	.columLeft {
		padding-bottom: 10px;
	}
}
/****************************** columns ***************************************/




.tooltip {
	display: inline;
	position: relative;
}

.tooltip:hover:after {
	bottom: 26px;
	content: attr(title); /* este es el texto que será mostrado */
	left: 20%;
	position: absolute;
	z-index: 98;
	/* el formato gráfico */
	background: rgba(255, 255, 255, 0.2); /* el color de fondo */
	border-radius: 5px;
	color: #FFF; /* el color del texto */
	font-family: Georgia;
	font-size: 12px;
	padding: 5px 15px;
	text-align: center;
	text-shadow: 1px 1px 1px #000;
	width: 150px;
}

.tooltip:hover:before {
	bottom: 20px;
	content: "";
	left: 50%;
	position: absolute;
	z-index: 99;
	/* el triángulo inferior */
	border: solid;
	border-color: rgba(255, 255, 255, 0.2) transparent;
	border-width: 6px 6px 0 6px;
}

}
a span.tooltip {
	display: none;
}

a:hover span.tooltip {
	position: absolute;
	top: 30px;
	left: 20px;
	display: inline;
	border: 2px solid green;
}

.title {
	border-bottom: 1px dotted #000000;
	color: #000000;
	outline: none;
	cursor: help;
	text-decoration: none;
	position: relative;
}

.tooltip {
	border-bottom: 1px dotted #000000;
	color: #000000;
	outline: none;
	cursor: help;
	text-decoration: none;
	position: relative;
}

.tooltip-inner {
	color: #FFFFFF;
	background-color: #333333;
	border: 1px #CCC solid;
}

input[type="checkbox"]:focus {
	/* outline: thin dotted;*/
	/*outline: 5px auto -webkit-focus-ring-color; */
	/*outline-offset: -2px;*/
	outline: none;
}

.form-control-edit {
	display: block;
	width: 100%;
	height: 20px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control-edit:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.form-control-edit::-moz-placeholder {
	color: #999;
	opacity: 1;
}

.form-control-edit:-ms-input-placeholder {
	color: #999;
}

.form-control-edit::-webkit-input-placeholder {
	color: #999;
}

@media screen {
	.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control
		{
		cursor: default;
		background-color: #FFFFFF;
		opacity: 1;
	}
}

.form-control-edit[disabled], .form-control-edit[readonly], fieldset[disabled] .form-control-edit
	{
	/*cursor: not-allowed;*/
	/*background-color: #eee;*/
	/*opacity: 1;*/
	cursor: default;
	background-color: #FFFFFF;
}

textarea.form-control-edit {
	height: auto;
}

input[type="radio"][disabled], input[type="checkbox"][disabled], input[type="radio"].disabled,
	input[type="checkbox"].disabled, fieldset[disabled] input[type="radio"],
	fieldset[disabled] input[type="checkbox"] {
	cursor: default;
}