<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{signin.title}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" th:href="@{/resources/images/favicon.ico}" />
<!-- CSS -->
<link rel="stylesheet" th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/resources/css/core.css}" />
<!-- SCRIPT -->
<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<script th:src="@{/resources/js/bootstrap.min.js}"></script>
<script src="//cdn.jsdelivr.net/webshim/1.15.7/polyfiller.js"></script>
<script th:src="@{/resources/js/formcfg-es.js}"></script>
<script th:src="@{/resources/js/chargeWebshim.js}"></script>
</head>
<body>

	<!-- Generic Header -->
	<div th:replace="fragments/header :: header">&nbsp;</div>

	
	<form class="form-narrow form-horizontal" method="post" th:action="@{/authenticate}">

		<!--/* Show general error message when form contains errors */-->
		<th:block th:if="${param.error != null}">
			<th:block th:if="${session['SPRING_SECURITY_LAST_EXCEPTION'].message.contains('Bad credentials')}">
				<div th:replace="fragments/alert :: alert (type='danger', message=#{signin.errorBadCredentials})">Alert</div>
			</th:block>
			<th:block th:if="${session['SPRING_SECURITY_LAST_EXCEPTION'].message.contains('User is disabled')}">
				<div th:replace="fragments/alert :: alert (type='danger', message=#{signin.errorUserDisabled})">Alert</div>
			</th:block>
			<th:block th:if="${session['SPRING_SECURITY_LAST_EXCEPTION'].message.contains('User account is locked')}">
				<div th:replace="fragments/alert :: alert (type='danger', message=#{signin.errorUserLocked})">Alert</div>
			</th:block>
		</th:block>
		

		<fieldset>

			<!-- Message help-->
			<legend th:text="#{signin.please}"></legend>

			<!-- Insert Login -->
			<div class="form-group">
				<label for="inputLogin" class="col-lg-2 control-label" th:text="#{login}">Login</label>
				<div class="col-lg-10">
					<input type="text" class="form-control" id="login" th:placeholder="#{login}"
						name="username" />

				</div>
			</div>

			<!-- Insert Password -->
			<div class="form-group">
				<label for="password" class="col-lg-2 control-label" th:text="#{password}">Password</label>
				<div class="col-lg-10">
					<input type="password" class="form-control" id="password" th:placeholder="#{password}"
						name="password" />
				</div>
			</div>

			<!-- Checkbox remeber me -->
			<div class="form-group">
				<div class="col-lg-offset-2 col-lg-10">
					<div class="checkbox">
						<label> <input type="checkbox" name="_spring_security_remember_me" /> <span
							th:text="#{signin.remember}">Remember me </span>
						</label>
					</div>
				</div>
			</div>

			<!-- Button SignIn -->
			<div class="form-group">
				<div class="col-lg-offset-2 col-lg-10">
					<button type="submit" class="btn btn-default" th:text="#{signin}" id="acceptSignin">Sign In</button>
				</div>
			</div>

			<!-- Button SignUp -->
			<div class="form-group">
				<div class="col-lg-offset-2 col-lg-10">
					<span th:text="#{signin.newhere}"> New here?</span> <a href="signup" th:href="@{/signup}"
						th:text="#{signup}">Sign Up</a>
				</div>
			</div>

		</fieldset>
	</form>
</body>
</html>