<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title th:text="#{payProgram.title}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" th:href="@{/resources/images/favicon.ico}" />
<!-- CSS -->
<link rel="stylesheet" th:href="@{/resources/css/dataTables.css}" />
<link rel="stylesheet" th:href="@{/resources/css/bootstrap.css}" />
<link rel="stylesheet" th:href="@{/resources/css/core.css}" />
<link rel="stylesheet" href="//cdn.datatables.net/plug-ins/1.10.6/integration/bootstrap/3/dataTables.bootstrap.css" />
<!-- SCRIPT -->
<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<script th:src="@{/resources/js/bootstrap.min.js}"></script>
<script src="//cdn.jsdelivr.net/webshim/1.15.7/polyfiller.js"></script>
<script th:src="@{/resources/js/formcfg-es.js}"></script>
<script th:src="@{/resources/js/chargeWebshim.js}"></script>
<script src="//cdn.datatables.net/1.10.6/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/plug-ins/1.10.6/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
<script th:src="@{/resources/js/chargeTable.js}"></script>
</head>
<body>

	<!-- Generic Header -->
	<div th:replace="fragments/header :: header(active='payProgram')">&nbsp;</div>

	<h1 class="text-center" th:text="*{feeProgram.name}">Fee Program</h1>
	<br></br>
	
	<div class="container text-center">
		<!-- /* Handle the flash message */-->
		<th:block th:if="${message != null}">
			<!-- /* The message code is returned from the @Controller */ -->
			<div
				th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, 
				message=#{${message.message}(${message.args[0]})})">&nbsp;</div>
		</th:block>
	</div>
	
	<!-- Form to print -->
	<form class="form-narrow form-horizontal" th:action="@{'payProgramList/createPdf/'+${feeProgram.id}}" method="post">

		<fieldset>
			<!-- Title -->
			<legend th:text="#{feeProgram.infoPrint}">Print </legend>

			<!-- Div of buttons -->
			<div>
				<button class="btn btn-info btn-lg" th:name="createPdf" th:value="ALL" th:title="#{feeProgram.infoAllList}"
					th:text="#{feeMember.printAllList}"></button>

				<button class="btn btn-info btn-lg" th:name="createPdf" th:value="NOPAY" th:title="#{feeProgram.infoNoPayList}"
					th:text="#{feeMember.printNoPayList}"></button>

				<button class="btn btn-info btn-lg" th:name="createPdf" th:value="PAY" th:title="#{feeProgram.infoPayList}"
					th:text="#{feeMember.printPayList}"></button>
			</div>
		</fieldset>
	</form>


	<h2 class="text-center" th:text="#{payProgram.payProgramList}">List of Pay Program</h2>


	<!-- Verify if exits payPrograms -->
	<div class="container" th:unless="${#lists.isEmpty(payPrograms)}">

		<!-- Table List of pay program -->
		<table class="table table-striped table-hover table-responsive" id="customTable">
			<thead class="table-bordered">
				<tr>
					<th th:text="#{program}">Program</th>
					<th th:text="#{members}">Accounts</th>
					<th th:text="#{price}">Price</th>
					<th th:text="#{payProgram.hasPay}">Has Pay</th>
					<th th:text="#{payerAccount}">Mobile</th>
					<th class="no-sort"></th>
					<th class="no-sort"></th>
				</tr>
			</thead>
			<tbody class="table-bordered">

				<!-- Table entry -->
				<tr th:each="payProgram : ${payPrograms}">
					<td th:text="${payProgram.program.name}">name</td>
					<td><span th:each="account : ${payProgram.program.accounts}" th:text="${account.name} + ' , '"></span></td>
					<td th:text="${payProgram.price}">price</td>
					<th:block th:if="${payProgram.hasPay == false}">
						<td th:text="#{false}">false</td>
					</th:block>
					<th:block th:if="${payProgram.hasPay == true}">
						<td th:text="#{true}">true</td>
					</th:block>
					<td th:text="${payProgram.accountPayer}">mobile</td>


					<!-- Modify payProgram  -->
					<td>
						<form th:action="@{'payProgramList/payProgramEdit/'+${payProgram.id}}" method="post">
							<button class="btnTable btn-link glyphicon glyphicon-edit" th:title="#{edit}" style="color: orange"></button>
						</form>
					</td>


					<!-- Pay payProgram -->
					<td th:if="!${payProgram.hasPay}" class="text-center">
						<form th:action="@{'payProgramList/pay/'+${payProgram.id}}" method="post">
							<button class="btnTable btn-link glyphicon glyphicon-euro" th:title="#{payCheck}" style="color: green"></button>
						</form>
					</td>


					<!-- Fill table entry, pay program -->
					<td th:if="${payProgram.hasPay}"></td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>