<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org" 
xmlns:tiles="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title th:text="#{feeMemberList.title}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" th:href="@{/resources/images/favicon.ico}" />
<!-- CSS -->
<link rel="stylesheet" th:href="@{/resources/css/dataTables.css}"/>
<link rel="stylesheet" th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/resources/css/core.css}" />
<link rel="stylesheet" href="//cdn.datatables.net/plug-ins/1.10.6/integration/bootstrap/3/dataTables.bootstrap.css" />
<!-- SCRIPT -->
<script src="//code.jquery.com/jquery-2.1.3.js"></script>
<script th:src="@{/resources/js/bootstrap.min.js}"></script>
<script src="//cdn.datatables.net/1.10.6/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/plug-ins/1.10.6/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<script th:src="@{/resources/js/chargeTable.js}"></script>
</head>
<body>

	<!-- Generic Header -->
	<div th:replace="fragments/header :: header(active='feeMember')">&nbsp;</div>


	<!-- Button Create New Training Type -->
	<div class="text-center">
		<a href="#" class="btn btn-success btn-lg" th:href="@{/feeMemberList/feeMemberCreate}"
			th:text="#{feeMember.createNewFeeMember}">Create New Pay Inscription </a>
	</div>
	
	<br></br><br></br>
	<!-- Message Info -->
	<div class="container text-center ">
		<!-- /* Handle the flash message */-->
		<th:block th:if="${message != null}">
			<!-- /* The message code is returned from the @Controller */ -->
			<div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, 
						message=#{${message.message}(${message.args[0]})})">&nbsp;
			</div>
		</th:block>
	</div>
	
	<!-- Message if feeMembers is Empty -->
	<th:block th:if="${#lists.isEmpty(feeMembers)}">
		<h2 class="text-center" th:text="#{feeMember.feeMemberListEmpty}">List of
			feeMembers Empty</h2>
	</th:block>

	<!-- Verify if exits feeMembers -->
	<div class="container" th:unless="${#lists.isEmpty(feeMembers)}">
		<h2 class="text-center" th:text="#{feeMember.feeMemberList}">List of Pay
			Inscriptions</h2>

		<!-- Table List of Training Types -->
		<table class="table table-striped table-hover table-responsive" id="customTable">
			<thead class="table-bordered">
				<tr>
					<th th:text="#{name}">Name</th>
					<th th:text="#{year}">Year</th>
					<th th:text="#{price}">Price</th>
					<th th:text="#{description}">Description</th>
					<th class="no-sort"></th>
					<th class="no-sort"></th>
				</tr>
			</thead>
			<tbody class="table-bordered">

				<!-- Table entry -->
				<tr th:each="feeMember : ${feeMembers}" id="feeMembers">
					<td id="feeMemberName" th:text="${feeMember.name}">name</td>
					<td id="feeMemberYear" th:text="${feeMember.year}">2015</td>
					<td id="feeMemberPrice" th:text="${feeMember.price}">price</td>
					<td id="feeMemberDescription" th:text="${feeMember.description}">description</td>


					<!-- Modify FeeMember -->
					<td>
						<form th:action="@{'feeMemberList/feeMemberEdit/'+${feeMember.id}}"
							method="post">
							<button class="btnTable btn-link glyphicon glyphicon-edit" th:title="#{edit}"
								id="feeMemberEdit" style="color: orange"></button>
						</form>
					</td>

					<!-- View Inscriptions -->
					<td>
						<form th:action="@{'feeMemberList/payMemberList/'+${feeMember.id}}"
							method="post">
							<button class="btnTable btn-link glyphicon glyphicon-user"
								th:title="#{feeMember.infoPayMemberList}" id="payMemberList" style="color: green"></button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>